@import "helpers/stylings/animation.scss";

.wrapper {
  border-radius: 5px;
  height: 90%;
  min-width: 160px;
  z-index: 1;

  .detailsNotShow {
    animation: itemClosing 0.3s ease-in forwards;
  }

  .containerBG {
    background: rgba(0, 0, 0, 0.425);
  }

  .container {
    height: 100%;
    width: 100%;

    .cardDetails {
      height: 85%;
      width: 100%;

      .playBtnShow {
        animation: showDetails 0.5s ease-in forwards;
      }

      .playBtnContainer {
        align-items: flex-end;
        display: flex;
        height: 50%;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;

        .playBtn {
          cursor: pointer;
          height: 50px;
          transition: 0.5s;
          width: 50px;

          .polygon {
            fill: rgba(0, 0, 0, 0.7);
            transition: 0.5s;
          }

          .pathSvg {
            fill: white;
            transition: 0.5s;
          }

          &:hover .polygon {
            fill: white;
            transition: 0.5s;
          }

          &:hover .pathSvg {
            fill: rgba(0, 0, 0, 0.7);
            transition: 0.5s;
          }
        }
      }

      .detailsContainer {
        margin-left: 10px;

        & > div:not(:last-child) {
          margin-bottom: 5px;
        }

        .movieTitle {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .tags {
          display: flex;
        }
      }
    }

    .showDetails {
      animation: showDetails 0.5s ease-in forwards;

      & > div > svg > path {
        fill: white;
        stroke: white;
        stroke-width: 3px;
      }
    }

    .viewDetailsContainer {
      align-items: center;
      display: flex;
      height: 15%;
      justify-content: center;
      width: 100%;
      z-index: 1;

      .viewDetails {
        height: 10px;
        width: 35px;

        .arrowPath {
          fill: white;
          stroke: white;
          stroke-width: 2px;
          transition: 0.5s;
        }
      }

      &:hover .viewDetails .arrowPath {
        fill: red;
        stroke: red;
        stroke-width: 3px;
      }
    }
  }
}

.cursorPointer {
  cursor: pointer;
}

@keyframes showDetails {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}
