@import "helpers/stylings/_index.scss";

.wrapper {
  animation: itemShowing 1s ease-in forwards;
  display: flex;
  height: 400px;
  min-height: 400px;
  padding-left: 5%;
  position: relative;

  .itemDescription {
    @include media-query(sp) {
      justify-content: flex-start;
    }

    background: linear-gradient(
      to right,
      black,
      black,
      black,
      rgba(0, 0, 0, 0.97),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.01)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    width: 40%;
    z-index: 1;

    .title {
      margin-bottom: 15px;
      max-height: 100px;
      width: 100%;
    }

    .itemHeader {
      @include media-query(sp) {
        display: block;
        & > div {
          margin-bottom: 10px;
        }
      }

      display: flex;
      margin-bottom: 10px;

      .match {
        color: rgb(9, 154, 28);
        font-weight: bold;
      }

      .yearDuration {
        font-weight: bold;
      }

      .grade {
        border: 1px solid;
        font-weight: bold;
        padding: 0 3px;
      }

      & > div > span {
        margin-right: 10px;
      }
    }

    .summary {
      color: rgba(204, 204, 204, 0.95);
      margin-bottom: 10px;
    }

    .playBtn {
      background: black;
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      margin-bottom: 15px;
      min-height: fit-content;
      width: 70px;

      &:hover {
        background: white;
        border: 1px solid black;
        color: black;
      }
    }

    .starring {
      margin-bottom: 10px;
      & > span {
        font-weight: bold;
      }
    }

    .availableTo {
      margin-bottom: 10px;

      .tags {
        display: flex;
      }

      & > div {
        margin-top: 5px;
      }
    }
  }

  .itemTrailer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 70%;

    .playBtn {
      cursor: pointer;
      height: 50px;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: 0.5s;
      width: 50px;

      .polygon {
        fill: rgba(0, 0, 0, 0.7);
        transition: 0.5s;
      }

      .pathSvg {
        fill: white;
        transition: 0.5s;
      }

      &:hover .polygon {
        fill: white;
        transition: 0.5s;
      }

      &:hover .pathSvg {
        fill: rgba(0, 0, 0, 0.7);
        transition: 0.5s;
      }
    }

    .trailerPoster {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .closeDetails {
    background: rgba(255, 255, 255, 0.69);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 50px;
    width: 25px;
    z-index: 1;

    & > svg {
      width: 100%;
      height: 100%;

      & > path {
        fill: transparent;
        stroke: black;
        stroke-linecap: round;
        stroke-width: 5;
      }
    }

    &:hover {
      background: black;
      border: 1px solid black;
      color: white;

      & > svg > path {
        fill: transparent;
        stroke: white;
        stroke-linecap: round;
        stroke-width: 5;
      }
    }
  }
}

.closing {
  animation: itemClosing 0.5s ease-in forwards;
}
