@import "helpers/stylings/animation.scss";

.wrapper {
  margin-bottom: 20px;

  .itemCarouselContainer {
    display: flex;
    height: 250px;

    .noArrow {
      width: 5vw;
    }

    .btnContainer {
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 5vw;
      z-index: 2;

      &:hover .pathBtn {
        fill: red;
        stroke: red;
        transition: 0.5s;
      }

      .arrowBtn {
        height: 37px;
        width: 25px;
      }

      .pathBtn {
        fill: white;
        stroke: white;
      }
    }

    .itemsContainer {
      display: flex;
      overflow: hidden;
      width: 90vw;
    }
  }
}