@import "helpers/stylings/_index.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 60px;
    width: 250px;

    .btnStyle {
      border: 1px solid white;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      padding: 5px 15px;
      width: fit-content;

      &:hover {
        background: white;
        color: black;
      }
    }

    & > div {
      margin-bottom: 20px;
    }

    & > div:last-child {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    & > div > div {
      margin-bottom: 10px;
    }

    & > div > input {
      width: 100%;
    }
  }
}
