.wrapper {
  margin-bottom: 20px;
  .bannerContainer {
    min-height: 500px;
    background-size: cover;
    opacity: 1;
    transition-duration: 750ms;
    // animation: showing 1s ease-in;
    display: flex;
    align-items: center;
    padding: 0 4%;

    .titleContainer {
      width: 36%;

      .title {
        width: 100%;
      }
    }
  }

  .topNewReleaseContainer {
    padding: 0 4%;
    margin-top: -100px;

    .cardList {
      display: flex;
      height: 200px;
    }
  }
}

@keyframes showing {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
